<div id="orange-background">
</div>

<div id="gray-background">
</div>

<div id="github-login">
  <%= button_to "GitHub Login", '/auth/github', id: 'github-btn', method: :get %>
</div>

<div id="iob-main">
  <%= image_tag("iob.png") %>
</div>

<div id="toilet">
  <%= image_tag("toilet-open.png", id: "toilet-img") %>
</div>

<div id="slogan">
  <%= image_tag("slogan.png") %>
</div>
