<div id="trivia-div">
  <div id="trivia-title">
    <span id="trivia-slogan">Trivia while you wait, for <span id="points-up"></span> points.</span><br>
  </div>

  <div id="trivia-form">
    <table id="trivia-table">
      <tr>
        <td class="table-title"><span id="trivia-category-label">Category:</span></td>
        <td class="table-info"><span id="trivia-category"></span></td>
      </tr>
      <tr>
        <td class="table-title"><span id="trivia-question-label">Question:</span></td>
        <td class="table-info"><span id="trivia-question"></span></td>
      </tr>
    </table>
  </div>

  <div id="trivia-submit">
    <span id="trivia-submit-label">What is</span>
    <input type="text" name="trivia-answer" placeholder="enter your guess" id="trivia-input"><br>
    <button type="button" id="trivia-submit-btn">Submit</button>
  </div>
</div>