<div id="orange-background">
</div>

<div id="gray-background">
</div>

<div id="github-login">
  <%= link_to " GitHub Login ", '/auth/github', class: 'github-btn', id: 'login-btn', method: :get %>
</div>

<div id="iob-login">
  <%= image_tag("iob.png") %>
</div>

<div id="toilet">
  <%= image_tag("toilet-open.png", id: "toilet-img") %>
</div>

<div id="slogan">
  <%= image_tag("slogan.png") %><br>
</div>

<div id="about">
  <p>Just like students, the bathrooms at the Turing School are stupid smart!<br>
  They'll let you know when they are free... login for availability.</p>
</div>

<script type="text/javascript">animateToilet()</script>