---
http_interactions:
- request:
    method: get
    uri: http://jservice.io/api/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a1d55f5fd7e5a5c066dd8c741643e840"'
    body:
      encoding: UTF-8
      string: '[{"id":50107,"answer":"Romeo \u0026 Juliet","question":"A dangerous
        new virus is actually 2 files which share their names with these 2 Shakespearean
        lovers","value":100,"airdate":"2001-10-26T12:00:00.000Z","created_at":"2014-02-11T23:16:30.992Z","updated_at":"2014-02-11T23:16:30.992Z","category_id":6303,"game_id":null,"invalid_count":null,"category":{"id":6303,"title":"software
        that bytes","created_at":"2014-02-11T23:16:30.890Z","updated_at":"2014-02-11T23:16:30.890Z","clues_count":5}}]'
  recorded_at: Tue, 16 Jun 2015 21:09:51 GMT
recorded_with: VCR 2.9.3
