<div id="orange-background">
</div>

<div id="gray-background">
</div>

<div id="iob-main">
  <%= image_tag("iob.png") %>
</div>

<div id="error-msg">
  <p>Oh no!<br>This isn't a page.</p>
</div>

<div id="danger">
  <%= image_tag("danger.png") %>
</div>