@media (max-width: 640px) {

  #orange-background {
    min-height: 300px;
    display: block;
    background: #F18D03 asset-url("orange-background.jpg") repeat;
  }

  #gray-background {
    min-height: 100%;
    height: auto !important;
    display: block;
    background: #3E393A asset-url("gray-background.jpg") repeat;
  }

  #github-login {
    position: absolute;
    top: 282px;
    left: calc(50% - 66px);
    width: 250px !important;
  }

  #github-logout {
    position: absolute;
    top: 34px;
    right: 45px;
    width: 50px !important;
  }

  #trivia-score {
    display: none;  
  }

  #raw-score-label {
    display: none;
  }

  #raw-score {
    display: none;
  }

  .github-btn {
    border: none;
    font-family: 'Coda', cursive;
    color: white;
    border-radius: 35px;
    border: solid white 3px;
    background-color: #F85B31
  }

  .github-btn:hover {
    background-color: #C93612
  }

  .github-btn:focus {
    outline: 0;
  }

  #login-btn {
    height: 70px;
    width: 250px;
    font-size: 150%;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #logout-btn {
    height: 40px;
    width: 100px;
    font-size: 110%;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-right: 13px;
  }

  #avatar {
    position: absolute;
    top: 25px;
    right: 105px;
  }

  #avatar img {
    width: 38px;
    border-radius: 35px;
    border: solid white 3px;
  }

  #iob-login {
    position: absolute;
    top: 25px;
    left: calc(50% - 80px);
  }

  #iob-login img {
    width: 190px !important;
  }

  #iob-main {
    position: absolute;
    top: 20px;
    left: 25px;
  }

  #iob-main img {
    width: 120px !important;
  }

  #toilet {
    position: absolute;
    top: 150px;
    left: calc(50% - 25px);
  }

  #toilet img {
    width: 90px !important;
  }

  #slogan {
    position: absolute;
    top: 360px;
    left: calc(50% - 83px);
  }

  #slogan img {
    width: 200px !important;
  }

  #about {
    display: none;
  }

  #about p {
    display: none;
  }

  #error-msg {
    width: 350px;
    position: absolute;
    top: 125px;
    left: calc(50% - 175px)
  }

  #error-msg p {
    text-align: center;
    color: white;
    font-family: 'Coda', cursive;
    font-size: 150%;
  }

  #trivia-form {
    display: none; 
  }

  #trivia-submit {
    display: none;
  }

  #trivia-submit-label {
    display: none;
  }

  #trivia-input {
    display: none;
  }

  #trivia-submit-btn {
    display: none;
  }

  #skip-btn {
   display: none;
  }

  #trivia-table {
    display: none;
  }

  .table-title {
    display: none;
  }

  .table-info {
    display: none;
  }

  #trivia-title {
    display: none;
  }

  #trivia-slogan {
    display: none;
  }

  #trivia-category-label {
    display: none;
  }

  #trivia-category {
    display: none; 
  }

  #trivia-question-label {
    display: none;
  }

  #trivia-question {
    display: none; 
  }

  .board-title {
    display: none;
  }

  #board-points {
    display: none;
  }

  #loser-board {
    display: none;
  }

  #leader-board {
    display: none; 
  }

  #bathroom-subtitle {
    width: 180px;
    position: absolute;
    top: 130px;
    left: calc(50% - 90px) 
  }

  #bathroom-subtitle p {
    text-align: center;
    color: white;
    font-family: 'Coda', cursive;
    font-size: 110%; 
  }

  #bathroom-notifier {
    display: none;
  }

  #bathroom-bot-question {
    display: none;
  }

  #bathroom-bot {
    display: none;
  }

  #bathroom-bot-about {
    display: none;
  }

  #bathroom-bot-about-btn { 
    display: none;
  }

  #danger img {
    position: absolute;
    top: 250px;
    width: 100px;
    left: calc(50% - 55px);  
  }

  .status-image {
    width: 90px;
  }

  #bathroom-1 {
    position: absolute;
    top: 255px;
    left: calc(50% - 150px);
  }

  #bathroom-2 {
    position: absolute;
    top: 255px;
    left: calc(50% - 42px);
  }

  #bathroom-3 {
    position: absolute;
    top: 255px;
    left: calc(50% + 65px);
  }

  #answer-form {
    display: none;  
  }

  #answer-table {
    display: none;  
  }

  #trivia-next {
    display: none;
  }

  #answer-title {
    display: none;
  }

  #answer-yours-label {
    display: none;
  }

  #guess-yours {
    display: none;
  }

  #answer-judges-label {
    display: none;
  }

  #answer-judges {
    display: none;
  }

  #right-or-wrong {
    display: none;
  }

  #right-or-wrong-label {
    display: none;
  }

  #points-awarded-number {
    display: none; 
  }

  #points-awarded-label {
    display: none;
  }

  #trivia-next-btn {
    display: none;
  }

  #the-board-img { 
    display: none;
  }

  #the-board-text {
    display: none;
  }

  #listings {
    display: none;
  }

  #listings-table {
    display: none;
  }

  #listings-table td {
    display: none;
  }

  .names-column {
    display: none;
  }

  .points-column {
    display: none;
  }

  #the-board {
    display: none;
  }
}