<div id="leader-board">
  <span class="board-title">Leaders</span>
  <span class="board-title" id="board-points">Points</span>
  <table class="the-boards" id="leader-table">
  </table>  
</div>

<div id="loser-board">
  <span class="board-title">Losers</span>
  <table class="the-boards" id="loser-table">
  </table>  
</div>